body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container {
	background: linear-gradient(to bottom, #edf5ed, #cfd3d8e9);
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	color: #1f1c1c;
	text-align: center;
	padding: 30px;
}

.poll-question {
	font-size: 24px;
	margin-bottom: 20px;
}

.poll-form label {
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
	color: #1b1919;
}

.vote-button {
	background-color: #d1d3d6d6;
	color: #0d0c0c;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;
}

.vote-button:hover {
	background-color: #cfdeeaec;
}

.results {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.results-title {
	font-size: 20px;
}

.results-count {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	margin-top: 10px;
}

.count {
	font-weight: bold;
}
